.top-container {
    background-color: #5BC0F8;
    width: auto; 
    height: 400px;
    padding: 100px;
    background-image : url("images/full-moon.webp");
    background-size: cover;
}

.moon{
    width: 100%;
    height: 80%;
}

.blued{
    width: 600px;
    height: 400px;
    position: absolute;
    left: 340px;
    top: 323px;
   
}

.redd{
    position: absolute;
    bottom: 120px;
    right:610px;
    width: 80px;
    height: 80px;

}
body {
    font-family: Montserrat;
    margin: 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    
}

h2{
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 400;
    color: #0081C9;
}

h3{
    font-family: Montserrat;
    margin: 0;
    color: #d45e0f;
    font-weight: 500;
    height: 32px

}

.h4{
    font-family: Montserrat;
    margin: 0;
    color: #d45e0f;
    font-weight: 500;
    height: 32px


}

.footer-link{
    color: #0081C9;
    padding: 2rem;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 32px;
}


.bottom-container{
    background-color: #FFC93C ;
    color: #0081C9;
    margin: 100px auto 0 auto;
    min-height: 10px;
}

.skill-row{
text-align: left;
margin : 70px auto 70px auto;
line-height: 2;
width: 80%;
}

.giphy-embed{
    float: left;
    margin-right: 50px;
    width: 250px;
    height: 188px;
}

.momos{
    float: left;
    width: 250px;
    height: 200px;
    margin-right: 50px;
    border-radius: 4% ;
    border: #eb3f53 5px solid;
}
.c{
    float: right;
    width: 250px;
    height: 240px;    
}

p{
    margin: 40px auto 100px;
}


.contact-me{
    line-height: 1.5;
    padding: 0 210px ;
}

.pro{
    width: 240px;
    height: 240px;
    
}
.copyright{
    position: relative;
    top: 40px;
}

hr{
    border: dotted #a3adad 8px;
    border-bottom: none;
    width: 10%;
    margin: 80px auto 80px auto;
}

.name{
    color: white;
}

.who{
    color: white ;
    position: relative ;
    bottom: 50px;
   
}

.btn {
    
    background: #1294eb;
    background-image: -webkit-linear-gradient(top, #1294eb, #dbf280);
    background-image: -moz-linear-gradient(top, #1294eb, #dbf280);
    background-image: -ms-linear-gradient(top, #1294eb, #dbf280);
    background-image: -o-linear-gradient(top, #1294eb, #dbf280);
    background-image: linear-gradient(to bottom, #1294eb, #dbf280);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #eb679c;
    background-image: -webkit-linear-gradient(top, #eb679c, #68e7f0);
    background-image: -moz-linear-gradient(top, #eb679c, #68e7f0);
    background-image: -ms-linear-gradient(top, #eb679c, #68e7f0);
    background-image: -o-linear-gradient(top, #eb679c, #68e7f0);
    background-image: linear-gradient(to bottom, #eb679c, #68e7f0);
    text-decoration: none;
  }



